<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="investyield, savings, investment, financial savings, investment opportunities">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <!-- <link href="~/dashboard/assets/css/font-face.css" rel="stylesheet" media="all"> -->
    <link href="~/dashboard/assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/dashboard/assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/dashboard/assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/dashboard/assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/dashboard/assets/vendor/wow/animate.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/dashboard/assets/css/style.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div>
        @RenderBody()
    </div>

    <script src="~/dashboard/assets/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/dashboard/assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/dashboard/assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- Vendor JS       -->
    <script src="~/dashboard/assets/vendor/slick/slick.min.js"></script>
    <script script type='text/javascript' src='~/dashboard/assets/js/swiper.min.js'></script>
    <script src="~/dashboard/assets/vendor/wow/wow.min.js"></script>
    <script src="~/dashboard/assets/vendor/animsition/animsition.min.js"></script>
    <script src="~/dashboard/assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/dashboard/assets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/dashboard/assets/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/dashboard/assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/dashboard/assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/dashboard/assets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/dashboard/assets/vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="~/dashboard/assets/js/main.js"></script>
    <script src="~/dashboard/assets/js/custom.js"></script>

    <script>feather.replace()</script>
</body>
</html>
