
@{
    ViewData["Title"] = "EmptyService";
    Layout = "~/Views/Shared/_LayoutServices.cshtml";
}


    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mt-4">
                    <h4>Services</h4>
                </div>
            </div>
            <div class="row mt-200 justify-content-center">
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center">
                        <img src="~/dashboard/assets/images/box.svg" class="img-fluid" alt="">
                        <h5 class="mt-3">There are no services available in this module.</h5>
                        <button class="btn btn-services mt-3">Add a New service</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->



