@{
    ViewData["Title"] = "AddVendor";
    Layout = "~/Views/Shared/_LayoutServices.cshtml";
}

<br />
<br />
<br />
<br />
<div class="text-center">
    <h2>Vendor Registered Successfully</h2>
    <a href="../../BackOffice/BackOfficeDashboard">Return to Home</a>
</div>